<h2>Here's a reactive form</h2>

<form [formGroup]="reactiveForm" (ngSubmit)="submitForm(reactiveForm.value)">
  <label for="email">
    <h4>Introduce your email</h4>
    <input type="email" id="email" formControlName="email" placeholder="upgrade@hub.com" />
  </label>

  <label for="password">
    <h4>Introduce your password</h4>
    <input type="password" id="password" formControlName="password" />
  </label>

  <label for="conditions">
    <span><b>You accept the conditions</b></span>
    <input type="checkbox" id="conditions" formControlName="conditions" />
  </label>

  <button type="submit" [disabled]="reactiveForm.status === 'INVALID'">Submit</button>
</form>

<h3>Submissions</h3>

<ul *ngIf="submissions.length">
  <li *ngFor="let submission of submissions">
    <p>{{ submission.email }} - Conditions accepted: {{ submission.conditions }}</p>
  </li>
</ul>
