nav {
  display: flex;
  align-items: center;

  a {
    padding: 0.25rem 1rem;
    text-decoration: none;
    color: #000;

    &:hover {
      color: #317589;
      text-decoration: underline;
    }
  }
}